
:root{
  --azul:#0000FF;
  --preto:	#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
    


body{
    background: var(--preto);
    font-family: 'Netflix Sans', Times, serif;
    color:white;
}

header .container{
   display:flex;
   flex-direction: row;
   align-items:center;
   justify-content:space-between;
}


header .logo{
  margin-left: 10px;
  color: var(--azul);
  font-size:40px;
}

header nav a{
    text-decoration:none;
    color:#AAA;
    margin-right:10px;
}

header nav a:hover{
    color: #fff;;
}